@charset "utf-8";
/* Contents CSS Document */

@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

/* tag */
html, body { margin: 0; padding: 0; }
a {} a:hover {}
img {}
main {}
article {}
section {}
aside {}
h1 {} h2 {} h3 {} h4 {} h5 {} h6 {}
h1,h2,h3 { font-weight: normal; }
p {}
ul, ol {}
ul {} ul li{}
ol {} ol li {}
dl {} dl dt {} dl dd {}
/* /tag */

/* body wrapper */
#wrap { background-color: #000; color: #FFF; }
/* /body wrapper */

/* parallax setting */
#contents {
	position: relative;
	min-height: 100%; height: auto; max-height: 100vh;
	background-size: 100% auto;
	background-attachment: fixed;
	overflow-x: hidden; overflow-y: auto; /* これが必要なためjQueryスムーズスクロールが効かない */
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	-ms-perspective: 600px;
	perspective: 600px;
} #contents section {
	position: relative;
	margin: 0; padding: 0;
    min-height: 100%; height: 100vh;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.layer {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
} .front {
	-webkit-transform:translateZ(150px) scale(.75);
	-moz-transform:translateZ(150px) scale(.75);
	-ms-transform:translateZ(150px) scale(.75);
	-o-transform:translateZ(150px) scale(.75);
	transform:translateZ(150px) scale(.75);
	z-index:4;
} .base {
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
	z-index:3;
} .rear {
	-webkit-transform:translateZ(-300px) scale(1.5);
	-moz-transform:translateZ(-300px) scale(1.5);
	-ms-transform:translateZ(-300px) scale(1.5);
	-o-transform:translateZ(-300px) scale(1.5);
	transform:translateZ(-300px) scale(1.5);
	z-index:2;
} .deep {
	-webkit-transform:translateZ(-600px) scale(2);
	-moz-transform:translateZ(-600px) scale(2);
	-ms-transform:translateZ(-600px) scale(2);
	-o-transform:translateZ(-600px) scale(2);
	transform:translateZ(-600px) scale(2);
	z-index:1;
}
#contents section#sec01 { z-index: 5;
} #contents section#sec02 { z-index: 4;
} #contents section#sec03 { z-index: 3;
} #contents section#sec04 { z-index: 2;
} #contents section#sec05 { z-index: 1; }
/* /parallax setting */

/* Parallax #contents section settings */
#contents {
	background-image: url(../../img/sample/illust1701.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
} #contents section {
	background-color: rgba(255,255,255,0.60); color: #000;
	text-shadow: 0 1px 1px #FFF;
} #contents section:nth-child(2) {
	background-color: rgba(0,0,0,0.60); color: #FFF;
	text-shadow: 0 1px 1px #000;
} #contents section .layer {
	text-align: center;	vertical-align:middle;
} #contents section#sec01 .base, #contents section#sec03 .base {
	background-image: url(../../img/sample/illust1701.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
} #contents section#sec03 .base {
	background-position: center center;
} #contents section#sec02 .rear {
	background-image: url(../../img/sample/illust1701make01.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
} #contents section#sec05 .base {
	background-image: url(../../img/sample/photo1301c003.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
#contents .layer article {
	position: relative;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}
#contents h1, #contents h2, #contents h3,
#contents h4, #contents h5, #contents h6,
#contents p, #contents ul li, #contents dl {
 margin-bottom: 1em;
} #contents h1 {
	margin-bottom: 1em; padding-bottom: 0.5em;
	font-size: 1.6em;
	border-bottom: 4px solid #4b3d37;
} #contents h2 {
	margin-bottom: 1em; padding-bottom: 0.5em;
	font-size: 1.4em;
	border-bottom: 2px solid #4b3d37;
} #contents h3 {
	margin-bottom: 1em; padding-bottom: 0.5em;
	font-size: 1.2em;
	border-bottom: 1px dashed #4b3d37;
} #contents p {
	padding-bottom:1em;
} #contents ul {
	list-style:none;
}
#contents .text-wrap {
	position: relative;
	top: 6em;
} #contents section#sec01 .text-wrap {
	position: absolute;
	top: 50%; left: 4em;
	margin-top: -5em; margin-left: 0;
} #contents section#sec05 p {
	width: 33%; margin: 0 auto;
	line-height: 2em;
	text-align: justify;
} 
/* /Parallax #contents section settings */

/* other local class */
.fontface1 { font-family: "Didact Gothic", Helvetica, Arial, "新ゴ R","Shin Go Regular", sans-serif; }
/* /other local class */
